# Ignore project logs
/CNC_interfaces_board/Project Logs for CNC_interfaces_board

# Ignore project outputs
/CNC_interfaces_board/Project Outputs for CNC_interfaces_board

# Ignore previews
/CNC_interfaces_board/__Previews

# Ignore BACKUP
/CNC_interfaces_board/BACKUP

# Ignore JOB file
/CNC_interfaces_board/Job1.OutJob

#Ignore PCB1.PcbDoc
/CNC_interfaces_board/PCB1.PcbDoc

# Ignore zip files
/CNC_interfaces_board/Titan_CNC.zip
/CNC_interfaces_board/Titan_CNC_2.zip
